.navbar {
    top: 0;
    width: 100%;
    margin: 12px 0;
}

.navbar-header h1 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 6px;
}

.navbar-login a,
.main-login a,
legend {
    color: #050933;
}

.navbar-login a {
    display: inline-block;
    font-size: 1.25rem;
    height: 40px;
    min-width: 120px;
    line-height: 37px;
    letter-spacing: .5px;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #050933;
    padding: 0 30px;
}

.navbar-header a:hover,
.navbar-header a:focus,
.navbar-login a:hover,
.navbar-login a:focus,
.main-register a:hover,
.main-register a:focus,
.button-login:hover,
.button-login:focus,
.login-to-register a:hover,
.login-to-register a:focus,
.button-register:hover,
.button-register:focus,
.register-to-login a:hover,
.register-to-login a:focus {
    text-decoration: none;
}

#main {
    padding-top: 60px;
}

.content {
    text-align: center;
}

.content h2 {
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 15px;
}

.content h5 {
    font-size: 25px;
    padding-bottom: 25px;
}

.main-register {
    margin-bottom: 20px;
}

.main-register a {
    display: inline-block;
    color: white;
    background: #050933;
    border-radius: 3px;
    border: 0;
    padding: 16px 80px;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.main-login {
    margin-bottom: 0;
}

.main-login a {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-decoration: underline;
}

#quote {
    overflow: hidden;
    padding: 64px 0 0;
}

.quote-start,
.quote-content,
.quote-person {
    margin: 0 auto 40px;
}

.quote-start,
.quote-start img {
    display: block;
}

.quote-start {
    width: 28%;
}

.quote-start img {
    margin: 0 auto;
    max-width: 100%;
}

.quote-content,
.quote-person {
    font-size: 24px;
    letter-spacing: .5px;
    text-align: center;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 80px 20px 20px;
}

.box-login,
.box-register {
    width: 512px;
    display: block;
    margin: 175px auto 0;
    padding: 48px 109px;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
}

.box-register {
    margin-top: 131px;
}

legend {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}

.login-email,
.login-password,
.register-email,
.register-password,
.confirm-password,
small {
    padding-bottom: 15px;
}

.login-email input,
.login-password input,
.register-email input,
.register-password input,
.confirm-password input {
    border-radius: 7px;
    border: 1px solid #e6e6e6;
    padding: 12px 16px;
}

.button-login,
.button-register {
    width: 100%;
    border-radius: 7px;
    padding: 5px 0;
    color: white;
    background-color: #050933;
    border-color: #050933;
}

#login-to-register,
#register-to-login {
    padding-top: 25px;
    text-align: center;
    font-size: 15px;
}

.login-to-register,
.register-to-login {
    font-weight: bold;
}